body {
    background: lightcyan;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#content {
    padding: 10%;
}

header {
    background: gray;
    color: white;
    border: 20px solid white;
    text-align: center;
}

#survey-form {
    background: white;
    padding: 5%;
    /* text-align: center; */
}

input {
    margin: 10px;
    padding: 10px;
}

label {
    font-weight: bold;
    margin: 10px;
}

#submit {
    background: darkgreen;
    color: white;
}

